/**
 * Content
 */

body {
	background-color: #FBFBFB;
}

a:active, a:visited {
	color: #052eff;
	text-decoration: none;
}

.container a {
	color: #052eff;
	text-decoration: none;
}

html {
    cursor: url("https://66.media.tumblr.com/7991b65e01693768ecf8de7013f56205/66d942085e5e1362-bf/s75x75_c1/af9553bef0dab855aa9e93cbae4797024b85e0ce.png"), auto !important;
}


img {
	border: 0;
	padding: 0;
}


.content img {
	float: none;
	margin-bottom: .5em;
}


.header {
	font-family: neue-haas-grotesk-display, sans-serif, Helvetica;
	font-style: normal;
	font-weight: 500;
	padding: 0;
	margin: 0;
	font-size: 3.0rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

.about {
	font-family: neue-haas-grotesk-display, sans-serif, Helvetica;
	font-style: normal;
	font-weight: 500;
	padding: 0;
	margin: 0;
	font-size: 3.0rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

.Experience {
	font-family: neue-haas-grotesk-display, sans-serif, Helvetica;
	font-style: normal;
	font-weight: 500;
	padding: 0;
	margin: 0;
	font-size: 3.0rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

.about {
	font-family: neue-haas-grotesk-display, sans-serif, Helvetica;
	font-style: normal;
	font-weight: 500;
	padding: 0;
	margin: 0;
	font-size: 3.0rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

/* Sticky header */

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
