/**
 * Content
 */

body {
	background-color: #FBFBFB;
}

a:active, a:visited {
	color: #052eff;
	text-decoration: none;
}

.container a {
	color: #052eff;
	text-decoration: none;
}

html {
    cursor: url("https://66.media.tumblr.com/7991b65e01693768ecf8de7013f56205/66d942085e5e1362-bf/s75x75_c1/af9553bef0dab855aa9e93cbae4797024b85e0ce.png"), auto !important;
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

sub,
sup {
	position: relative;
	vertical-align: baseline;
}

sub {
	top: 0.3em;
}

sup {
	top: -0.4em;
}

s {
	text-decoration: line-through;
}

img {
	border: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0 0 0 1em;
}

blockquote {
	margin: 0;
	padding: 0 0 0 2em;
}

hr {
	background: rgba(127, 127, 127, 0.2);
	border: 0;
	height: 1px;
	display: block;
}

.content img {
	float: none;
	margin-bottom: .5em;
}

.gallery_image_caption {
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.35);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons/*!System*/;
	font-style: normal;
	line-height: 1.3;
}

/**
 * Loading Animation
 */

.loading[data-loading] {
	position: fixed;
	bottom: 8px;
    left: 8px;
}

/**
 * Editor styles
 */

[data-predefined-style="true"] bodycopy {
	font-size: 2rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.85);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Sans Serif', Icons /*!System*/;
	font-style: normal;
	line-height: 1.3;
}

[data-predefined-style="true"] bodycopy a {
	color: rgb(105, 143, 255);
	padding-bottom: 0.1em;
	border-bottom: 0.0em solid rgba(127, 127, 127, 0.2);
	text-decoration: none;
}

[data-predefined-style="true"] bodycopy a:hover {

}

bodycopy a.image-link,
bodycopy a.icon-link,
bodycopy a.image-link:hover,
bodycopy a.icon-link:hover {
	border-bottom: 0;
	padding-bottom: 0;
}

[data-predefined-style="true"] p class="about" {
	font-family: "Neue Haas Grotesk", Icons /*!Persona*/;
	font-style: regular;
	font-weight: 400;
	padding: 0;
	margin: 0;
	font-size: 3.5rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

	[data-predefined-style="true"] p class="header" {
		font-family: "Neue Haas Grotesk", Icons /*!Persona*/;
		font-style: regular;
		font-weight: 400;
		padding: 0;
		margin: 0;
		font-size: 3.5rem;
		line-height: 1.3;
		color: rgba(0, 0, 0, 0.85);
		}


[data-predefined-style="true"] h1 a {
	color: rgba(0, 0, 0, 0.85);
}

[data-predefined-style="true"] h2 {
	font-family: "Neue Haas Grotesk", Icons /*!Persona*/;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: rgba(5, 46, 255, 0.98);
	font-size: 2rem;
	line-height: 1.2;
	}

[data-predefined-style="true"] h2 a {
	color: rgba(0, 0, 0, 0.85);
}

[data-predefined-style="true"] small {
	display: inline-block;
	font-size: 1.6rem;
	line-height: 1.3;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Sans Serif', Icons /*!System*/;
	font-style: normal;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.35);
}

[data-predefined-style="true"] small a {
	color: rgba(0, 0, 0, 1);
	border-bottom-width: 0em;
}


/**
 * Site Menu
 */

[data-css-preset] #site_menu_button {
    color: rgba(0, 0, 0, 0.75);
    line-height: 1;
    font-size: 28px /*!site_menu_button*/;
    padding: 6px;
    line-height: 1;
    background: rgba(33, 32, 46, 0);
    position: fixed;
    top: 2rem /*!site_menu_button*/;
	right: 2rem /*!site_menu_button*/;
}

body.mobile #site_menu_button {
	margin: -6px;
    font-size: 34px;
}

#site_menu_button.custom_icon {
	width: 40px;
    height: auto;
}

#site_menu_button.active {
	display: none;
}

.container {
 	font-family: neue-haas-grotesk-display, sans-serif;
  	font-weight: 500;
  	font-style: normal;	
  	padding-top: 50px;
  	padding-right: 45px;
  	padding-bottom: 300px;
  	padding-left: 45px;
}

.header {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 0;
	margin: 0;
	font-size: 3.0rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

.about {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 0;
	margin: 0;
	font-size: 3.0rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

.Experience {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 0;
	margin: 0;
	font-size: 3.0rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

.about {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 0;
	margin: 0;
	font-size: 3.0rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

.header {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 0;
	margin: 0;
	font-size: 3.0rem;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.85);
	}

.sticky {
  	position: fixed;
	top: 10;
  	width: 100%
}
		
